
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app/static/index.css">
    <!--<link href="{{ url_for('static', path='/app/static/index.css') }}" rel="stylesheet">-->
    <link rel="stylesheet" href="/app/static/index.css">
    <link rel="shortcut icon" href="/app/static/img/img.png">
</head>
<body>
    <!DOCTYPE html>
<html>
<body>

    <div class="Box-login"></div>
    


<form class="itens-cadastro" id="registration-form" method="post">
    <h2>Criar Conta</h2>
  <label for="fname"></label>
  <input type="text" id="fname" name="fname" placeholder="Insira seu nome completo">
  <label for="cpf"></label>
  <input type="text" id="cpf" name="cpf" placeholder="Insira seu cpf">
  <label for="password"></label>
  <input type="password" id="password" name="password" placeholder="Crie uma senha">
  <label for="emailPlace"></label>
  <input type="email" id="emailPlace" name="emailPlace" placeholder="Insira seu email">
  <label for="teste"></label>
  <input type="teste" id="teste" name="teste" placeholder="">
  <button type="submit" id="submit" value="Submit"><b>Fazer cadastro</b></button>
  
</form> 
<div id="codeModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Insira o código de verificação</h3>
    <input type="text" id="verificationCode" placeholder="Digite o código aqui">
    <button onclick="enviarCodigo()">Enviar</button>
  </div>
</div>

    <div class="linha"></div>



<form id="login-form" action="/front/get-token" method="post">
    <h2>Entrar</h2>
  <label for="username"></label>
  <input type="text" id="username" name="username" placeholder="Insira seu nome">
  <label for="password"></label>
  <input type="text" class="password2" name="password" placeholder="Insira sua senha">
  <button type="submit" class="submit2" value="Login"><b>Fazer login</b></button>
  
</form> 
<div class="button-container">
<a id="notes-link" href="#" class="button"><b>Criar Nota</b></a>

</div>
<div>
    <button id="users_b" class="button2" onclick="users_list()"><b>Ver Usuarios</b></button>
</div> 




<script>
  const loginForm = document.getElementById('login-form');

  loginForm.addEventListener('submit', async (event) => {
      event.preventDefault(); 

      const formData = new FormData(loginForm); 

      
      const response = await fetch('/front/get-token', {
          method: 'POST',
          body: new URLSearchParams(formData) 
      });

      if (response.ok) {
        const data = await response.json();

        localStorage.setItem('access_token', data.access_token);
        alert("Token armazenado com sucesso no localStorage!");

        const token = data.access_token; 
        const seeTokenLink = document.getElementById('notes-link');
        seeTokenLink.href = `/front/notes/${token}`;

        var user_b = document.getElementById("users_b");
        user_b.style.visibility = 'hidden';

        if (data.name && data.name.trim().toLowerCase() === "admin") {
            user_b.style.visibility = 'visible';
        }

      } else {
          alert("Erro ao obter o token.");
      }
  });
  document.getElementById('registration-form').addEventListener('submit', function(event) {
    event.preventDefault();  

    const formData = new FormData(this);  


    fetch('/front/result-form', {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (response.ok) {
        this.reset();
        document.getElementById("codeModal").style.display = "block";
      } else {

        alert("Something went wrong!");
      }
    })
    .catch(error => {

      alert("Error: " + error);
    });
  });
  async function users_list() {
    try {
        const response = await fetch(`/front/userslist`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        });
        
        if (!response.ok) {
            throw new Error(`Erro: ${response.status}`);
        }
        window.location.href = "/front/userslist";

    } catch (error) {
        console.error('Erro na requisição:', error);
    }
}
document.querySelector(".close").onclick = function() {
  document.getElementById("codeModal").style.display = "none";
  document.body.classList.remove("modal-open");
};

function enviarCodigo() {
  const codeInput = document.getElementById("verificationCode").value;

  const formData = new FormData();
  formData.append('code', codeInput);

  fetch('/front/validate-code', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    alert(data.message); // Mostrar a mensagem vinda do backend
    
    if (data.valid) {
      document.getElementById("codeModal").style.display = "none";
      document.body.classList.remove("modal-open");
      document.getElementById("verificationCode").value = ""; // limpa o campo
    }
  })
  .catch(error => {
    alert("Erro ao validar código: " + error);
  });
}
</script>



</body>
</html>


    
</body>
</html>
